{% extends "base_generic.html" %}

{% block content %}
  <h2>Book List</h2>
  {% if book_list %}
  <ul>
    {% for book in book_list %}
      <li>
        <a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a>
        {% if book.author %}
          ({{ book.author.first_name}} {{book.author.last_name}})
        {% endif %}
        <details>
         <summary>{{book.bookinstance_set.count}}
         {% if book.bookinstance_set.count > 1 %}
          copies
        {% else %}
          copy
        {% endif %}
         </summary>
         <ul>
          {% for copy in book.bookinstance_set.all %}
            <li>
              {{ copy.imprint }}
              {% if copy.language %}, {{ copy.language }}{% endif %}
                {% if copy.status %}
                ,
                <span class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
                  {{ copy.get_status_display }}
                </span>
              {% endif %}
              {% if copy.due_back %}
              ,
              <span class="{% if copy.is_overdue %}text-danger{% endif %}">
              due back:
                  {{copy.due_back}}
                </span>
              {% endif %}
              <a href="{% url 'bookinstance-detail' copy.id %}">View</a>
            </li>
          {% endfor %}
         </ul>
         </details>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% if perms.catalog.can_edit_book %}
<p><a href="{% url 'book-create' %}">Add Book</a></p>
{% endif %}
{% endblock %}
