{% extends "base_generic.html" %}

{% block content %}
  <h2>Genres</h2>
  {% if genre_list %}
  <ul>
    {% for genre in genre_list %}
      <li>
        {{ genre.name}}
        {% if perms.catalog.can_edit_book %}
          - <a href="{% url 'genre-update' genre.id %}">Update</a>
          - <a href="{% url 'genre-delete' genre.id %}">Delete</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no genres in the library site.</p>
  {% endif %}
  {% if perms.catalog.can_edit_book %}
  <p><a href="{% url 'genre-create' %}">Add</a></p>
  {% endif %}
{% endblock %}
